style(type="text/css").
    * {-webkit-text-size-adjust:none; box-sizing: border-box; -webkit-box-sizing: border-box;-ms-text-size-adjust:100%;}
    #outlook a{padding:0;}
    body{width:100% !important;margin:0; padding:0;-webkit-font-smoothing: antialiased;}
    body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
    .ReadMsgBody{width:100%;}
    .ExternalClass{width:100%;}
    .ExternalClass, .ExternalClass span, .ExternalClass td {line-height: 100%;}
    img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;-ms-interpolation-mode:bicubic;}
    table{table-layout: fixed !important; margin: 0 auto;}
    table td{border-collapse:collapse;}
    table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
    @-ms-viewport{ width: device-width; }
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
    #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}
