.
    <!--[if mso | ie]>
    <style type="text/css">.sup{vertical-align: 1px !important;font-size: 100% !important;}</style><![endif]-->
    <!--[if ie]>
    <style type="text/css">.sup{vertical-align: 6px !important; font-size: 80% !important;}</style><![endif]-->
    <!--[if gte mso 15]>
    <style type="text/css">
        table {font-size:1px; line-height:0; mso-margin-top-alt:1px;mso-line-height-rule: exactly;}
        * {mso-line-height-rule: exactly;}
    </style>
    <![endif]-->
